/* กำหนดฟอนต์และโทนสีหลัก */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

section {
    padding: 60px 0;
}

/* ปรับแต่ง Navbar */
.navbar {
    background-color: #2c3e50 !important; /* เปลี่ยนสีตามชอบ */
}

/* ปรับแต่ง Carousel ให้ขนาดพอดี */
.carousel-item img {
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
}